openapi: 3.2.0
info:
  title: Web.com International Platform Domains API
  version: '2026-08-13'
  summary: Derived OpenAPI 3.1 description of the Web.com International ("NTS") Platform API fronted by Azure API Management at https://api.nts.web.com.
  description: DERIVED, NOT HARVESTED.
  contact:
    name: Web.com International Platform Documentation
    url: https://api-docs.intl.web.com/
  x-derived-by: API Evangelist
  x-derived-from:
  - https://api-docs.intl.web.com/
  - collections/websitepros-international-platform.postman_collection.json
  x-evidence:
    fetched: '2026-08-13'
    documentation_url: https://api-docs.intl.web.com/
    documentation_status: 200
    collection_url: https://api-docs.intl.web.com/api/collections/321243/T1DwdZvr?segregateAuth=true&versionTag=latest
    collection_status: 200
    gateway_probe: https://api.nts.web.com/sales-orders/v1
    gateway_status: 401
    gateway_www_authenticate: AzureApiManagementKey realm="https://api.nts.web.com/sales-orders",name="Ocp-Apim-Subscription-Key",type="header"
servers:
- url: https://api.nts.web.com
  description: Production gateway (Azure API Management, nts.azure-api.net)
- url: https://api-dev.nts.web.com
  description: Development gateway; separate registration and separate subscription key required
tags:
- name: Domains
  description: Domain-name availability and suggestion.
paths:
  /api/domain/check/{domain}:
    get:
      tags:
      - Domains
      operationId: checkDomainAvailability
      summary: Check
      description: Check to see if a domain name is available for registration.
      parameters:
      - name: domain
        in: path
        required: true
        description: The fully qualified domain name to test, e.g. test.com.
        schema:
          type: string
        example: test.com
      security:
      - subscriptionKey: []
        bearerAuth: []
        tenantName: []
      x-evidence:
        probed: '2026-08-13'
        url: https://api.nts.web.com/api/domain/check/test.com
        status: 401
        www_authenticate: AzureApiManagementKey realm="https://api.nts.web.com/api/domain",name="Ocp-Apim-Subscription-Key",type="header"
      responses:
        '200':
          description: Availability result. Web.com does not publish the response body.
        '401':
          $ref: '#/components/responses/AccessDenied'
  /api/domain/spin:
    post:
      tags:
      - Domains
      operationId: spinDomainSuggestions
      summary: Spin
      description: Get a list of available domain names given partial words.
      security:
      - subscriptionKey: []
        bearerAuth: []
        tenantName: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainSpinRequest'
            example:
              subdomain: test
              extensions:
              - com
              - net
              - org
      x-evidence:
        probed: '2026-08-13'
        url: https://api.nts.web.com/api/domain/spin
        status: 404
        note: Anonymous GET/POST to the exact documented path returned the Azure API Management "Resource not found" envelope rather than a 401 challenge; the sibling /api/domain/check route on the same product did challenge with 401.
      responses:
        '200':
          description: Suggested available domain names. Web.com does not publish the response body.
        '401':
          $ref: '#/components/responses/AccessDenied'
components:
  schemas:
    GatewayError:
      type: object
      description: The Azure API Management error envelope actually returned by api.nts.web.com. Not RFC 9457 problem+json — the content type is application/json.
      properties:
        statusCode:
          type: integer
        message:
          type: string
    DomainSpinRequest:
      type: object
      properties:
        subdomain:
          type: string
          description: The partial word(s) to build suggestions from.
        extensions:
          type: array
          description: TLDs to test.
          items:
            type: string
  responses:
    AccessDenied:
      description: Missing or invalid Azure API Management subscription key. Observed live on 2026-08-13.
      headers:
        WWW-Authenticate:
          description: Azure API Management key challenge naming the realm and header.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayError'
          example:
            statusCode: 401
            message: Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API.
  securitySchemes:
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Your api access key from the developer portal that identifies your subscription to the api. Issued per environment after Web.com International approves your registration.
    bearerAuth:
      type: http
      scheme: bearer
      description: This is your auth token that you would receive from the Authorization call — an access token issued by the Web.com Microsoft Entra ID tenant via the client-credentials grant (see the oauth2ClientCredentials scheme).
    tenantId:
      type: apiKey
      in: header
      name: x-nts-tenant-id
      description: This is your company's unique identifier, provided by Web.com when your subscription is activated. Required on the sales-order operations.
    tenantName:
      type: apiKey
      in: header
      name: tenant-name
      description: Your tenant's name. Required on the domain, SSO and service-order operations, where it is used in place of x-nts-tenant-id.
    oauth2ClientCredentials:
      type: oauth2
      description: Microsoft Entra ID (Azure AD) v1 token endpoint for the Web.com International tenant 03fbebc8-de8a-4428-b573-4c4903610dac. The published collection sends grant_type, client_id, client_secret and resource=api://intl.web.com as an application/x-www-form-urlencoded body. Web.com publishes no scope list; the v1 endpoint takes a `resource` audience instead of scopes.
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/03fbebc8-de8a-4428-b573-4c4903610dac/oauth2/token
          scopes: {}
