openapi: 3.2.0
info:
  title: Web.com International Platform Service Orders API
  version: '2026-08-13'
  summary: Derived OpenAPI 3.1 description of the Web.com International ("NTS") Platform API fronted by Azure API Management at https://api.nts.web.com.
  description: DERIVED, NOT HARVESTED.
  contact:
    name: Web.com International Platform Documentation
    url: https://api-docs.intl.web.com/
  x-derived-by: API Evangelist
  x-derived-from:
  - https://api-docs.intl.web.com/
  - collections/websitepros-international-platform.postman_collection.json
  x-evidence:
    fetched: '2026-08-13'
    documentation_url: https://api-docs.intl.web.com/
    documentation_status: 200
    collection_url: https://api-docs.intl.web.com/api/collections/321243/T1DwdZvr?segregateAuth=true&versionTag=latest
    collection_status: 200
    gateway_probe: https://api.nts.web.com/sales-orders/v1
    gateway_status: 401
    gateway_www_authenticate: AzureApiManagementKey realm="https://api.nts.web.com/sales-orders",name="Ocp-Apim-Subscription-Key",type="header"
servers:
- url: https://api.nts.web.com
  description: Production gateway (Azure API Management, nts.azure-api.net)
- url: https://api-dev.nts.web.com
  description: Development gateway; separate registration and separate subscription key required
tags:
- name: Service Orders
  description: Provision products and services against a customer and account.
paths:
  /service-orders-v2:
    post:
      tags:
      - Service Orders
      operationId: createServiceOrders
      summary: Create service orders
      description: 'Provision one or more products/services. The request body is an ARRAY of service orders. Each element identifies the customer (either a full `customer` object for a new customer, or a `customerId` for an existing one), the account (either a full `account` object or an `accountId`), and an `actions[]` list naming the `product` and a `services` map whose keys are product-specific service names (the published examples use `EkcsAd` and `ListingManagement`). The `api-version: 2` header is sent alongside the path suffix `-v2`.


        BASE URL CAVEAT: in the published collection this operation is the only one addressed through the `{{nts-api-url}}` variable rather than `{{api_gateway_url}}`, and Web.com does not publish the value of `{{nts-api-url}}`. An anonymous probe of https://api.nts.web.com/service-orders-v2 returned the Azure API Management "Resource not found" envelope, so the operation is recorded here without asserting that it is served from the servers[] hosts above. See the verbatim collection for the full examples, which are far larger than the schema summarised here.'
      security:
      - bearerAuth: []
        tenantName: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceOrder'
      x-evidence:
        probed: '2026-08-13'
        url: https://api.nts.web.com/service-orders-v2
        status: 404
      responses:
        '200':
          description: The service orders were accepted. Web.com does not publish the response body.
        '401':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
components:
  responses:
    AccessDenied:
      description: Missing or invalid Azure API Management subscription key. Observed live on 2026-08-13.
      headers:
        WWW-Authenticate:
          description: Azure API Management key challenge naming the realm and header.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayError'
          example:
            statusCode: 401
            message: Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API.
    ResourceNotFound:
      description: No route matched at the gateway. Observed live on 2026-08-13.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayError'
          example:
            statusCode: 404
            message: Resource not found
  schemas:
    ServiceOrder:
      type: object
      description: One element of the service-order array. Provide either `customer` (new customer) or `customerId` (existing), and either `account` (new account) or `accountId` (existing).
      properties:
        customer:
          $ref: '#/components/schemas/ServiceOrderCustomer'
        customerId:
          type: string
        account:
          $ref: '#/components/schemas/Account'
        accountId:
          type: string
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ServiceOrderAction'
    ServiceOrderAction:
      type: object
      properties:
        action:
          type: string
          description: 'Value seen in the published examples: create.'
        product:
          type: string
          description: 'Value seen in the published examples: EKCSTest.'
        services:
          type: object
          description: Product-specific service map. Keys seen in the published examples are `EkcsAd` (an advertising placement, with ad unit, impressions, inventory size, position, template, rate, start/end date and trafficking weight) and `ListingManagement` (business information, address, categories). The published examples annotate several EkcsAd fields inline as required — CustomerEmail, CustomerName, CustomerPhone and EndDate. The full shapes are reproduced verbatim in collections/websitepros-international-platform.postman_collection.json; they are not re-typed here because Web.com publishes no schema for them.
          additionalProperties: true
    GatewayError:
      type: object
      description: The Azure API Management error envelope actually returned by api.nts.web.com. Not RFC 9457 problem+json — the content type is application/json.
      properties:
        statusCode:
          type: integer
        message:
          type: string
    ServiceOrderCustomer:
      type: object
      description: The service-order customer shape adds credentials for the account manager that the sales-order customer shape does not carry.
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phoneNumber:
          type: string
        languageCode:
          type: string
        countryCode:
          type: string
        companyName:
          type: string
        companyPositionHeld:
          type: string
        accountManagerUsername:
          type: string
        accountManagerPassword:
          type: string
          format: password
    Account:
      type: object
      properties:
        id:
          type: string
          description: Empty string when a new account should be created.
        name:
          type: string
  securitySchemes:
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Your api access key from the developer portal that identifies your subscription to the api. Issued per environment after Web.com International approves your registration.
    bearerAuth:
      type: http
      scheme: bearer
      description: This is your auth token that you would receive from the Authorization call — an access token issued by the Web.com Microsoft Entra ID tenant via the client-credentials grant (see the oauth2ClientCredentials scheme).
    tenantId:
      type: apiKey
      in: header
      name: x-nts-tenant-id
      description: This is your company's unique identifier, provided by Web.com when your subscription is activated. Required on the sales-order operations.
    tenantName:
      type: apiKey
      in: header
      name: tenant-name
      description: Your tenant's name. Required on the domain, SSO and service-order operations, where it is used in place of x-nts-tenant-id.
    oauth2ClientCredentials:
      type: oauth2
      description: Microsoft Entra ID (Azure AD) v1 token endpoint for the Web.com International tenant 03fbebc8-de8a-4428-b573-4c4903610dac. The published collection sends grant_type, client_id, client_secret and resource=api://intl.web.com as an application/x-www-form-urlencoded body. Web.com publishes no scope list; the v1 endpoint takes a `resource` audience instead of scopes.
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/03fbebc8-de8a-4428-b573-4c4903610dac/oauth2/token
          scopes: {}
